*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
.donation-header{
    background: url(./images/donationpeople.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.donation-now,a{
    color: #fff;
}
.donation-now h1{
    font-size: 70px;
    padding: 0px 120px;
    padding-top: 180px;
    letter-spacing: 1px;
}
.donation-now p{
    font-size: 20px;
    padding: 10px 25px;
    margin-bottom: 40px;
    line-height: 30px;
}
.donation-now a{
    background-color: rgb(230, 80, 39);
    padding: 20px 35px;
    font-weight:500;
    font-size: 18px;
    border-radius: 10px;
}
.donation-measurements{
    text-align: center;
    margin-top: 100px;
}
.donation-today h1{
    font-size: 45px;
    padding: 18px 10px;
}
.donation-today p{
    font-size: 20px;
    padding: 15px 20px;
    margin-bottom: 50px;
    color: rgb(106, 100, 100);
}
.donation-measurements .amount{
    font-size: 35px;
    font-weight: 600;
    color:rgb(101, 99, 99);
    margin-bottom: 100px;
}
.donation-measurements .amount span{
    padding: 20px 30px;
}

.donation-measurements .amount .highlight{
    border: 3px solid rgb(250, 91, 27);
    color: rgb(244, 73, 6);
    background:rgb(255, 236, 230);
    border-radius: 10px;
}
.donation-measurements .collection{
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    color:rgb(63, 61, 61);
}
.donation-measurements .collection hr{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.donation-plan .donation-matarials{
    text-align: center;
    padding: 20px 30px;
    margin-top: 130px;
}
.donation-matarials h2{
    font-size: 45px;
    padding: 20px 15px;
}
.donation-matarials p{
    font-size: 20px;
    padding: 20px 18px;
    color: rgb(106, 100, 100);
}

.donation-plan .provide .card-box{
    width: 70%;
    padding: 10px 50px;
    margin-top: 15px;
    border-radius: 10px;
}
.donation-plan .provide{
    display: flex;
    margin-right: 100px;
    margin-left:110px;
    padding: 18px 20px;

}
.donation-plan .card-box img{
    margin-top: 30px;
}
.donation-plan .card-box h3{
    font-size: 25px;
    padding: 18px 0px;
}
.donation-plan .card-box p{
    font-size: 17px;
    padding: 15px 0px;
    color: rgb(106, 100, 100);
    padding-bottom: 50px;
    letter-spacing: 0.5px;
}
.donation-plan .provide #family-box .card-box{
    background-color:#EDF5F6;
}
.donation-plan .provide #shelter-box .card-box{
    background-color:#FFEEEE;
}
.donation-plan .provide #education-box .card-box{
    background-color:#FFF4D6;
}























